breakout/.ipynb_checkpoints/tp_session_jsparent-checkpoint.ipynb
breakout/__pycache__/plotting.cpython-37.pyc
breakout/__pycache__/simulation.cpython-37.pyc
breakout/Travail_de_session_jsparent.pdf
breakout/Travail_de_session_jsparent_1080.mp4
breakout/Travail_de_session_jsparent_720.mp4
breakout/Travail_de_session_jsparent_960x540.mp4
